<h1>Héroes de <small>MARVEL y DC</small></h1>
<hr>

<div class="card-columns">

    <!-- Se sustituye el html original por el componente heroe-tarjeta, con la misma 
        directiva ngFor del original -->
    <!-- Se envía la propiedad, heroe con el valor "heroe", que es el nombre del elemento Heroe del array
         y la propiedad index con el número de índice del elemento -->
    <app-heroe-tarjeta (heroeSeleccionado)="verHeroe( $event )" [heroe]="heroe" [index]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>


</div>